.App {
    display: flex;
}

body {
    background-color: #21212d;
}

.content {
    /*margin-left: 260px;*/ /* For at give plads til MenuBar */
    /*padding: 20px;*/
    width: 100%;
    align-content: center;
    margin-top: 42px;
}
