.forgot-password-container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

	.forgot-password-container h2 {
		text-align: center;
	}

	.forgot-password-container form {
		display: flex;
		flex-direction: column;
	}

	.forgot-password-container label {
		margin-bottom: 5px;
	}

	.forgot-password-container input {
		margin-bottom: 10px;
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	.forgot-password-container button {
		padding: 10px;
		background-color: #007bff;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

		.forgot-password-container button:hover {
			background-color: #0056b3;
		}

	.forgot-password-container p {
		text-align: center;
		color: red;
	}
