body {
    background: rgb(139, 71, 133);
    background: linear-gradient(0deg, rgba(139, 71, 133, 1) 0%, rgba(85, 60, 88, 1) 91%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Calibri, sans-serif;
}

.navbar {
    font-family: Calibri;
    padding: 15px;
    width: 100%;
    border-bottom: 2px solid rgb(255, 255, 255);
    position: relative;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo a {
    font-size: 33px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 40px;
}

.navbar-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navbar-list li {
        margin-right: 28px;
        font-size: 20px;
    }

        .navbar-list li a {
            color: white;
            font-weight: bold;
            text-decoration: none;
        }

button {
    background-color: black;
    border-radius: 10px;
    padding: 10px 20px;
    white-space: nowrap;
    border: none;
    display: inline-flex;
    align-items: center;
}

    button a {
        color: white;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

.content-wrapper {
    width: 80%;
    min-height: 50vh;
    margin: auto;
    display: flex;
    justify-content: flex-start; /* Aligns content to the left */
    align-items: center; /* Vertically center content */
    color: #fff;
}

.content-desc {
    max-width: 50%;
}

    .content-desc h1 {
        font-size: 3rem;
        margin-bottom: 10px;
        text-align: left; /* Aligns text to the left */
    }
