* {
/*    box-sizing: border-box;
    margin: 0;
    padding: 0;*/
    /*background-color: rebeccapurple;*/

}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
