.matchCard {
    border: 1px solid grey;
    border-radius: 10px;
    /*box-shadow: 5px 5px 5px white;*/
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 2050px;
    display: inline-block;
    color: white;
}

/*    .matchCard .card-img {
        max-width: 60%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }*/
