.match-detail {
    background-color: #2c2c38;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 1000px;
    margin-left: 260px;
}

.match-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a3a47;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.match-info {
    display: flex;
    align-items: center;
}

.map-icon {
    max-width: 50px;
    margin-right: 10px;
}

.match-result {
    font-size: 20px;
    margin-right: 20px;
}

.defeat {
    color: red;
}

.victory {
    color: green;
}

.match-meta div {
    margin-bottom: 5px;
}

.tabs {
    display: flex;
}

.tab {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

    .tab.active {
        background-color: #666;
    }

.match-stats {
    background-color: #3a3a47;
    padding: 20px;
    border-radius: 10px;
}

.stat-categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat-category {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

.rounds-list {
    background-color: #3a3a47;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.rounds-title {
    color: #fff;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.rounds-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .rounds-table th,
    .rounds-table td {
        padding: 12px;
        text-align: center;
        border: 1px solid #555;
        font-size: 16px;
    }

    .rounds-table th {
        background-color: #444;
        color: #ddd;
        font-weight: bold;
    }

.round-item:nth-child(even) {
    background-color: #444;
}

.round-item:nth-child(odd) {
    background-color: #3a3a47;
}

.round-number {
    font-weight: bold;
}

.round-kills {
    color: #fff;
}

    .round-kills span {
        font-size: 18px;
        color: #ffcc00;
    }

.team-stats {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .team-stats th, .team-stats td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #555;
    }

    .team-stats th {
        background-color: #444;
        color: #ddd;
    }

    .team-stats td img {
        max-width: 40px;
        margin-right: 10px;
        vertical-align: middle;
    }
