.vertical-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background-color: #2A2B3D;
    padding: 20px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    
}

.menu-header {
    text-align: center;
    margin-bottom: 40px;
}

    .menu-header .logo {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

.menu-btn {
    background-color: transparent;
    color: #C0C3C8;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .menu-btn.active, .menu-btn:hover {
        background-color: #7986CB;
    }

    .menu-btn i {
        margin-right: 10px;
        font-size: 18px;
    }

.sub-menu {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #C0C3C8;
}

.sub-menu-btn {
    margin-right: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 10px;
}

    .menu-footer a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        transition: color 0.3s;
    }

        .menu-footer a:hover {
            color: #7986CB;
        }
