.NotifikationMenu {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #2a2a33;
	border: 1px solid #ccc;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	width: 250px;
	height: 500px;
	overflow-y: auto;
	z-index: 99;
	border-radius: 8px;
	padding: 10px;
}

.menu-header {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 10px;
}

.notification-item {
	background-color: #3a3a44;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

	.notification-item:hover {
		background-color: #4a4a54;
	}

	.notification-item p {
		margin: 5px 0;
		color: #fff;
	}

.no-notifications {
	color: #fff;
	text-align: center;
}
