.playerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.playerCard {
    background-color: #1F1F2E;
    border-radius: 10px;
    padding: 15px;
    width: 180px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 10px;
    max-width: 180px; 
    display: inline-block;
}

    .playerCard:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .playerCard img {
        width: 100%;
        border-radius: 50%;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .playerCard h2 {
        font-size: 1.2em;
        margin: 5px 0;
        color: #FFD700;
    }

    .playerCard p {
        font-size: 1em;
        margin: 5px 0;
        color: #C0C0C0;
    }

.img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
