@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1E1E2F;
    color: white;
    margin: 0;
    padding: 0;
}

.player-stats {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #3E3E55;
    border-radius: 10px;
    background-color: #1E1E2F;
}

.player-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture-playerStats {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.filters {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters label {
    margin-bottom: 5px;
}

.filters select, .filters input {
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #2A2A3D;
    color: white;
}

.date-inputs {
    display: flex;
    gap: 10px;
}

.stats-overview {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stat-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.NoDataFound{
    color: blueviolet;
}

.stat-button {
    background-color: #3E3E55;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .stat-button:hover {
        background-color: #505070;
    }

.stat-sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.stat-section {
    background-color: #2A2A3D;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    border: 1px solid #3E3E55;
    width: 380px;
}

    .stat-section h2 {
        margin-bottom: 10px;
        border-bottom: 1px solid #555;
        padding-bottom: 5px;
        font-size: 1.5em;
        color: #00BFFF;
    }

.stat-category {
    background-color: #3E3E55;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: left;
    font-size: 1.1em;
    position: relative;
}

    .stat-category:hover .tooltip {
        display: block;
    }

.tooltip {
    display: none;
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2A2A3D;
    color: white;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    font-size: 0.9em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #3E3E55;
}

    .tooltip::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: transparent #2A2A3D transparent transparent;
    }
