.playerCard {
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

    .playerCard .card-img {
        max-width: 60%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }
