.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b1b1b;
    color: #fff;
    min-height: 100vh;
    width: 250%;
}

.banner {
    width: 100%;
    height: 300px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-picture {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.user-info {
    margin-top: 60px;
    text-align: center;
    padding: 0 20px;
    width: 100%;
}

.member-since,
.bio {
    margin: 5px 0;
}

.stats-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.stat-item {
    margin: 10px;
    flex: 1 1 30%;
}

.homePageMatches-header {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.homePageMatches {
    width: 100%;
    margin: 20px auto;
}

.team-info {
    margin: 20px auto;
    text-align: center;
}

.socials {
    margin: 20px auto;
    text-align: center;
}
