.SearchField {
	position: absolute;
	width: 200px;
	margin-left: 800px;
	z-index: 1;
}

	.SearchField input {
		width: 100%;
		padding: 8px;
		box-sizing: border-box;
	}

.suggestions-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	max-height: 200px;
	overflow-y: auto;
	background: #fff;
	position: absolute;
	width: 100%;
	z-index: 1;
	border-radius: 5px;
}

	.suggestions-list li img {
		margin-left: 8px;
	}

.text-content {
	flex-grow: 1;
}

	.suggestions-list li {
		padding: 8px;
		cursor: pointer;
		color: black;
		z-index: 1;
		display: flex;
		align-items: center;	
	}

		.suggestions-list li:hover {
			background-color: #f0f0f0;
		}

.searchLogo {
	height: 26px;
	width: 26px;
}