body {
    font-family: 'Roboto', sans-serif;
    background-color: #1E1E2F;
    color: white;
    margin: 0;
    padding: 0;
}

.teamInfo {
    border: 2px solid #3E3E55;
    border-radius: 10px;
    background-color: #1E1E2F;
    width: 1200px;
    max-width: 1600px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
    height: 750px;
    margin-left: 260px;
}

.teamContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    gap: 20px; /* Gap between create and join sections */
}

.createTeam, .joinTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    border-radius: 10px;
    background-color: #2E2E3F;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #f1f1f1;
}

.formGroup {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ddd;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3E3E55;
    background-color: #1E1E2F;
    color: #fff;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #3E3E55;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #575775;
    }

.teamCode {
    margin-top: 20px;
    color: #fff;
}
